<div class="experiences-container">
    <mat-card>
        <mat-card-title>Experiences</mat-card-title>
        <mat-card-subtitle>Experiences listing</mat-card-subtitle>
        <mat-card-content>
            <ng-container *ngIf="experiences.length; else experiencesListElseBlock">
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let experience of experiences">
                        <mat-expansion-panel-header *ngIf="!isMobile">
                            <mat-panel-title>
                                <p class="experience-title">{{ experience.title }}</p>
                            </mat-panel-title>

                            <mat-panel-description>
                                <p class="experience-subtitle">{{ experience.subtitle }}</p>

                                <div class="header-actions">
                                    <button mat-icon-button class="update-button"
                                        (click)="updateExperience($event, experience._id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button class="delete-button"
                                        (click)="deleteExperience($event, experience._id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-expansion-panel-header *ngIf="isMobile" class="mobile-header">
                            <mat-panel-title>
                                <p class="experience-title">{{ experience.title }}</p>
                            </mat-panel-title>

                            <mat-panel-description>
                                <div class="header-actions">
                                    <button mat-icon-button class="update-button"
                                        (click)="updateExperience($event, experience._id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button class="delete-button"
                                        (click)="deleteExperience($event, experience._id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <p class="mobile-experience-subtitle" *ngIf="isMobile">
                            {{ experience.subtitle }}
                        </p>

                        <p class="experience-date" *ngIf="experience.startDate">
                            {{ experience.startDate }} - {{ experience.endDate }}
                        </p>

                        <p class="experience-description">
                            {{ experience.description.length ? experience.description : 'No description' }}
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </ng-container>
            <ng-template #experiencesListElseBlock>
                <mat-card-subtitle>No experiences registered</mat-card-subtitle>
            </ng-template>
        </mat-card-content>
    </mat-card>

    <div class="actions">
        <button mat-mini-fab color="primary" (click)="registerNewExperience()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>