.experiences-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card {
    width: 98%;
    height: 100%;
}

::ng-deep .mat-expansion-panel-header-title {
    min-width: 40%;
    max-width: 40%;
}

.header-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.experience-title {
    width: 100%;
}

.experience-subtitle {
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
    font-weight: 500;
}

.experience-date {
    margin-bottom: .5em;
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
}

::ng-deep .mat-expansion-panel-header {
    height: auto;
}

.mobile-header {
    .experience-title {
        width: 100%;
        padding: .5em;
    }
}

.delete-button {
    mat-icon {
        color: red;
    }
}

.actions {
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
}