<div class="trainings-container">
    <mat-card>
        <mat-card-title>Trainings</mat-card-title>
        <mat-card-subtitle>Trainings listing</mat-card-subtitle>
        <mat-card-content>
            <ng-container *ngIf="trainings.length; else trainingsListElseBlock">
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let training of trainings">
                        <mat-expansion-panel-header *ngIf="!isMobile">
                            <mat-panel-title>
                                <p class="training-title">{{ training.title }}</p>
                            </mat-panel-title>

                            <mat-panel-description>
                                <p class="training-subtitle">{{ training.subtitle }}</p>

                                <div class="header-actions">
                                    <button mat-icon-button class="update-button"
                                        (click)="updateTraining($event, training._id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button class="delete-button"
                                        (click)="deleteTraining($event, training._id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-expansion-panel-header *ngIf="isMobile" class="mobile-header">
                            <mat-panel-title>
                                <p class="training-title">{{ training.title }}</p>
                            </mat-panel-title>

                            <mat-panel-description>
                                <div class="header-actions">
                                    <button mat-icon-button class="update-button"
                                        (click)="updateTraining($event, training._id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button class="delete-button"
                                        (click)="deleteTraining($event, training._id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <p class="mobile-training-subtitle" *ngIf="isMobile && training.subtitle">
                            {{ training.subtitle }}
                        </p>

                        <p class="training-date" *ngIf="training.startDate">
                            {{ training.startDate }} - {{ training.endDate }}
                        </p>

                        <p class="training-description">
                            {{ training.description.length ? training.description : 'No description' }}
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </ng-container>
            <ng-template #trainingsListElseBlock>
                <mat-card-subtitle>No trainings registered</mat-card-subtitle>
            </ng-template>
        </mat-card-content>
    </mat-card>

    <div class="actions">
        <button mat-mini-fab color="primary" (click)="registerNewTraining()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>