<h2 mat-dialog-title>Experience registration</h2>
<div mat-dialog-content>
    <div class="experience-registration-form">
        <mat-form-field appearance="standard">
            <mat-label>Experience title</mat-label>
            <input matInput [(ngModel)]="experience.title" (keyup)="toggleValidation()" (keypress)="onKeyPress($event)"
                cdkFocusInitial>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Experience subtitle</mat-label>
            <input matInput [(ngModel)]="experience.subtitle" (keyup)="toggleValidation()"
                (keypress)="onKeyPress($event)">
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate [(ngModel)]="startDate" placeholder="Start date">
                <input matEndDate [(ngModel)]="endDate" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Experience description</mat-label>
            <textarea matInput [(ngModel)]="experience.description" (keyup)="toggleValidation()"
                (keypress)="onKeyPress($event)"></textarea>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button [disabled]="isValidationDisabled" (click)="onValidate()" color="primary">Add experience</button>
</div>