<div class="projects-container">
    <mat-card>
        <mat-card-title>Projects</mat-card-title>
        <mat-card-subtitle>Projects listing</mat-card-subtitle>
        <mat-card-content>
            <ng-container *ngIf="projects.length; else projectsListElseBlock">
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let project of projects">
                        <mat-expansion-panel-header *ngIf="!isMobile">
                            <mat-panel-title>
                                <p class="project-title">{{ project.title }}</p>
                            </mat-panel-title>

                            <mat-panel-description>
                                <p class="project-subtitle">{{ project.subtitle }}</p>

                                <div class="header-actions">
                                    <button mat-icon-button class="update-button"
                                        (click)="updateProject($event, project._id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button class="delete-button"
                                        (click)="deleteProject($event, project._id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-expansion-panel-header *ngIf="isMobile" class="mobile-header">
                            <mat-panel-title>
                                <p class="project-title">{{ project.title }}</p>
                            </mat-panel-title>

                            <mat-panel-description>
                                <div class="header-actions">
                                    <button mat-icon-button class="update-button"
                                        (click)="updateProject($event, project._id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button class="delete-button"
                                        (click)="deleteProject($event, project._id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <p class="mobile-project-subtitle" *ngIf="isMobile && project.subtitle">
                            {{ project.subtitle }}
                        </p>

                        <p class="project-description">
                            {{ project.description.length ? project.description : 'No description' }}
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </ng-container>
            <ng-template #projectsListElseBlock>
                <mat-card-subtitle>No projects registered</mat-card-subtitle>
            </ng-template>
        </mat-card-content>
    </mat-card>

    <div class="actions">
        <button mat-mini-fab color="primary" (click)="registerNewProject()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>