.app {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 12px;
        position: relative;
        top: 0;
        right: 0;
    }

    &::-webkit-scrollbar-track {
        background: rgba($color: #0d6efd, $alpha: .2);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #0d6efd;
        border-radius: 20px;
    }
}


/**
* Containers
*/
.centered-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        margin-top: 1.5em;
    }
}

.main-container {
    height: calc(100vh - 4em);

    @media screen and (max-width: 601px) {
        height: calc(100vh - 3.5em);
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1em 0;
}


.router-container {
    width: 100%;
    height: 100%;
    justify-self: flex-start;
}

/**
* Toolbar
*/
.sidenav-logo {
    margin-bottom: 1em;
    display: flex;
    align-items: flex-start;

    h1 {
        text-align: start;
        white-space: normal;
        word-wrap: break-word;
    }

    &:hover {
        cursor: pointer;
    }
}

.sidenav-user-menu {
    display: flex;
    justify-content: center !important;
}

.app-logo {
    height: 80%;

    &:hover {
        cursor: pointer;
    }
}


.toolbar-spacer {
    flex: 1 1 auto;
}

.actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
        margin: 0 .5em;
    }
}

.dark-mode-toggle {
    align-items: flex-end;
    margin-left: .5em;

    @media screen and (min-width: 601px) {
        z-index: 11000;
    }
}