<mat-drawer-container class="drawer-container" [hasBackdrop]="true"
    [ngClass]="[isDarkMode ? 'dark-mode' : '', isMobile ? 'mobile' : '']">
    <mat-drawer #drawer class="sidenav" mode="over" autosize>
        <button mat-button class="sidenav-logo" routerLink="/" (click)="drawer.toggle()">
            <h1>Portfolio dashboard</h1>
        </button>

        <button mat-button matTooltip="Accueil" routerLink="/" (click)="drawer.toggle()">
            Accueil
        </button>

        <button mat-button *ngIf="isUserConnected" matTooltip="Projets" routerLink="/projects"
            (click)="drawer.toggle()">
            Projects
        </button>

        <button mat-button *ngIf="isUserConnected" matTooltip="Trainings" routerLink="/trainings"
            (click)="drawer.toggle()">
            Trainings
        </button>

        <button mat-button *ngIf="isUserConnected" matTooltip="Experiences" routerLink="/experiences"
            (click)="drawer.toggle()">
            Experiences
        </button>

        <button mat-button *ngIf="isUserConnected" matTooltip="Blog" routerLink="/blog" (click)="drawer.toggle()">
            Blog
        </button>

        <button mat-raised-button color="primary" *ngIf="!isUserConnected" routerLink="/login"
            (click)="drawer.toggle()">
            Login
        </button>
    </mat-drawer>
    <mat-drawer-content class="app">
        <mat-toolbar>
            <button mat-button class="app-logo" *ngIf="!isMobile" routerLink="/">
                <h1>Portfolio dashboard</h1>
            </button>

            <button *ngIf="isMobile" mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <span class="toolbar-spacer"></span>

            <div class="actions-container">
                <div *ngIf="!isMobile">
                    <button mat-button matTooltip="Accueil" routerLink="/">
                        Accueil
                    </button>

                    <button mat-button *ngIf="isUserConnected" matTooltip="Projets" routerLink="/projects">
                        Projects
                    </button>

                    <button mat-button *ngIf="isUserConnected" matTooltip="Trainings" routerLink="/trainings">
                        Trainings
                    </button>

                    <button mat-button *ngIf="isUserConnected" matTooltip="Experiences" routerLink="/experiences">
                        Experiences
                    </button>

                    <button mat-button *ngIf="isUserConnected" matTooltip="Blog" routerLink="/blog">
                        Blog
                    </button>
                </div>

                <button mat-icon-button class="user-menu" [matMenuTriggerFor]="userMenu" *ngIf="isUserConnected">
                    <mat-icon>person</mat-icon>
                </button>
                <button mat-raised-button color="primary" *ngIf="!isUserConnected" routerLink="/login">
                    Login
                </button>
            </div>
        </mat-toolbar>

        <div class="main-container">
            <ng-container *ngIf="!isLoading; else isLoadingElseBlock">
                <div class="router-container">
                    <router-outlet></router-outlet>
                </div>
            </ng-container>
            <ng-template #isLoadingElseBlock>
                <div class="centered-container">
                    <mat-spinner diameter="50"></mat-spinner>
                </div>
            </ng-template>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Preferences</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
    </button>
    <button mat-menu-item matTooltip="Dark mode" (click)="isDarkMode = !isDarkMode">
        <mat-icon>
            {{ isDarkMode ? 'wb_sunny' : 'brightness_3' }}
        </mat-icon>
        <span>{{ isDarkMode ? 'Light mode' : 'Dark mode' }}</span>
    </button>
</mat-menu>