<div class="centered-container">
    <mat-card>
        <h2 mat-card-title>Login</h2>
        <div mat-card-content>
            <div class="login-form">
                <mat-form-field appearance="standard">
                    <mat-label>Mail</mat-label>
                    <input matInput [(ngModel)]="mail" (keyup)="toggleValidation()" (keypress)="onKeyPress($event)"
                        cdkFocusInitial>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [(ngModel)]="password" (keyup)="toggleValidation()"
                        (keypress)="onKeyPress($event)" cdkFocusInitial>
                </mat-form-field>
            </div>
        </div>
        <div mat-card-actions class="mat-card-actions">
            <button mat-button [disabled]="isValidationDisabled" (click)="onValidate()" color="primary">Login</button>
        </div>
    </mat-card>
</div>