@media screen and (min-width: 751px) {
    .mat-card {
        width: 40%;
    }
}

@media screen and (max-width: 750px) {
    .mat-card {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .mat-card {
        width: 80%;
    }
}

.mat-card-actions {
    display: flex;
    flex-direction: row;
    margin: .5em;
    justify-content: flex-end;
}

.login-form {
    height: 100%;
    margin: 0 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .mat-form-field {
        width: 100%;
    }
}

.centered-container {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}