.mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.training-modification-form {
    height: 100%;
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .mat-form-field {
        width: 100%;
    }
}