.mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.project-registration-form {
    height: 100%;
    margin: 0 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .mat-form-field {
        width: 100%;
    }
}