<h2 mat-dialog-title>Project registration</h2>
<div mat-dialog-content>
    <div class="project-registration-form">
        <mat-form-field appearance="standard">
            <mat-label>Project title</mat-label>
            <input matInput [(ngModel)]="project.title" (keyup)="toggleValidation()" (keypress)="onKeyPress($event)"
                cdkFocusInitial>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Project subtitle</mat-label>
            <input matInput [(ngModel)]="project.subtitle" (keyup)="toggleValidation()" (keypress)="onKeyPress($event)">
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Project image URL</mat-label>
            <input matInput [(ngModel)]="project.imageUri" (keyup)="toggleValidation()" (keypress)="onKeyPress($event)">
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Project description</mat-label>
            <textarea matInput [(ngModel)]="project.description" (keyup)="toggleValidation()"
                (keypress)="onKeyPress($event)"></textarea>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button [disabled]="isValidationDisabled" (click)="onValidate()" color="primary">Add project</button>
</div>